<app-page-header></app-page-header>
<div class="calendar">
<section class="slide">
    <p>&#10092;</p>
    <h3>3 - 7 July</h3>
    <p>&#10093;</p><br>
    <h6>Prev. week</h6>
    <h6>Next week</h6>
  </section>
  <!-- CALENDAR -->
  <section class="panel">
    <div >
      <table class="table" *ngFor="let service of reservations"  >
        <thead >
          <tr >
            <th>{{reservations[0].availability}}</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let service of reservations" >  
            <td *ngIf="service.idcompany==idcompany" >
              {{service.name}}
            </td>
            <td *ngIf="service.idcompany==idcompany">
              {{service.email}}
            </td>
            <td *ngIf="service.idcompany==idcompany">
              {{service.phone}}
            </td>
            <td *ngIf="service.idcompany==idcompany">
              {{service.availability}}
            </td>
            <td *ngIf="service.idcompany==idcompany" >
                Dell
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>


</div>