<div class="navigation">
	<nav class="navbar navbar-expand-sm  navbar-dark ">
	 	<div>
			<div class="navbar-header animated fadeInUp ">
				<img src="../assets/image.png" alt="Booking App" style="width:300px;"> 
			</div>
			<div class="nabigationBar  ">
				<ul class="navbar-nav  ">
					<li  class="nav-item "><a class="nav-link" routerLink="/company">DASHBOARD</a></li>
					<li  class="nav-item "><a class="nav-link" routerLink="/bookings" >BOOKINGS</a></li>
					<li  class="nav-item "><a class="nav-link" routerLink="/calendar" >CALENDAR</a></li>
					<li  class="nav-item "><a class="nav-link" routerLink="/account"  >PROFILE</a></li>
				</ul>
			</div>
	  </div>
	</nav>
</div>