<div class="container-fluid" >
  <!-- login page -->
    <div  class="container   " *ngIf="loginContent" > 
        <img src="../assets/booking_logo.png" alt="book_img" class="book_img"/>
        <div class="errGlobal alert-danger">{{eroareGlobalaLogin}}</div>
        <form name="validformLogin"  #validformLogin="ngForm" class="div">
            <label class="date"> Email address </label>
            <input class="tbox" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"  [(ngModel)]=loginInputEmail  name="email"  #emaill= "ngModel" type="email">
            <div class="err-email-login  alert-danger " *ngIf="emaill.touched  && !emaill.valid ">
                <div *ngIf="emaill.errors.required ">Email is required</div>
                <div *ngIf="emaill.errors.pattern  ">Email invalid</div>
            </div> 
            <label class="date">Password</label>
            <input class="tbox space-between" type="{{showHide ? 'password' : 'text'}}" required [(ngModel)]=loginInputPassword name="passwordl" #passwordl= "ngModel">
            <i class="fa { showHide ? 'fa-eye' : 'fa-eye-slash'} glyphicon glyphicon-eye-open visiblePassLogin " (mousedown)="showMyPass()"  ></i>
            <div class="err-password-login  alert-danger" *ngIf="passwordl.touched && !passwordl.valid" >
                <div *ngIf="passwordl.errors.required">Password is required</div>
            </div>
            <input type="submit" (click)="loginUser()"  class="book_btn btn-lg  btn " [(disabled)]="!validformLogin.valid"  value="LOGIN">
            <a  class="recover-password-txt" (click)="manageForms(false, false, true)"><br>Recover password</a>
            <a  class="register-txt" (click)="manageForms(false, true, false)"><br>Register</a>
        </form>
    </div>
     <!-- close login -->
    <!-- create a new account -->
    <div class="container " *ngIf="registerContent">
        <img src="../assets/booking_logo.png" alt="book_img" class="book_img"/>
        <div class="errGlobal alert-danger">{{eroareGlobalaCreate}}</div>
        <form name="validformLogin"  #validformLogin="ngForm" class="div">
            <label class="date" >Your name</label>
            <input class="tbox" required pattern="[A-Za-z\s]+$" [(ngModel)]=createInputName name="firstName"  #firstName="ngModel" type="text" >
                <div class="err-name-create  alert-danger" *ngIf="firstName.touched && !firstName.valid" >
                    <div *ngIf="firstName.errors.required">Name is required</div>
                    <div *ngIf="firstName.errors.pattern">Must contain only characters</div>
                </div> 
                <label class="date"> Email address </label>
                <input class="tbox" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"  [(ngModel)]=createInputEmail  name="email"  #emaill= "ngModel" type="email">
                <div class="err-email-create alert-danger " *ngIf="emaill.touched  && !emaill.valid ">
                    <div *ngIf="emaill.errors.required ">Email is required</div>
                    <div *ngIf="emaill.errors.pattern  ">Email invalid</div>
                </div> 
                <label class="date">Password</label>
                <input class="tbox space-between" type="{{ 'text'}}" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%.^#:;,\|+_-`~*?&])[A-Za-z\d$@$!%.^#;:,\|+_-`~*?&]{12,50}" [(ngModel)]=createInputPassword name="passwordl" #passwordl= "ngModel">
                <div [ngClass]="passwordl.errors.pattern ? 'err-password-createlong' : ''  " class="err-password-create  alert-danger" *ngIf="passwordl.touched && !passwordl.valid" >
                    <div *ngIf="passwordl.errors.required">Password is required</div>
                    <div *ngIf="passwordl.errors.pattern">It must contain upper-case, lower-case, numbers, special characters and length should be at least 12 characters</div>    
                </div>           
                <input type="submit" (click)="CreateUser()"  class="book_btn btn-lg  btn  " [(disabled)]="!validformLogin.valid"  value="REGISTER">
                    <div class="display_terms">
                      <input type="checkbox"
                             name="agree_terms"
                             class="agree"
                             ngModel
                             required>
                      <label class="terms">I agree with Terms & Conditions</label>
                    </div>
                <a  class="account-txt" (click)="manageForms(true, false, false)"><br>You already have an account?</a>
        </form>
    </div> 
    <!-- RESET -->
    <div class="container " *ngIf="resetContent">
        <img src="../assets/booking_logo.png" alt="book_img" class="book_img"/>
        <div class="errGlobal alert-danger">{{eroareGlobalaReset}}</div>
        <form name="validformLogin"  #validformLogin="ngForm" class="div">
            <label class="date"> Email address </label>
            <input class="tbox" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"  [(ngModel)]=loginInputEmail  name="email"  #emaill= "ngModel" type="email">
            <div class="err-email-recover  alert-danger " *ngIf="emaill.touched  && !emaill.valid ">
                <div *ngIf="emaill.errors.required ">Email is required</div>
                <div *ngIf="emaill.errors.pattern  ">Email invalid</div>
            </div> 
            <input type="submit" (click)="loginUser()"  class="book_btn btn-lg  btn" [(disabled)]="!validformLogin.valid"  value="RECOVER">     
        </form>
    </div>
</div>
