<!--
  This is the app component. It renders the router outlet.
-->
<!-- 
<div class="container">
    <div class="row">
      <div class="col-md-12">
       <app-page-header></app-page-header>
      </div>
    </div>
  </div>  -->


  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <router-outlet></router-outlet>