<ng-template #content let-modal let-c="close" let-d="dismiss" >
  <form *ngIf="personalData" name="validformDate"  #validformDate="ngForm" >
    <div class="first_content ">
      <h1 class="make-your-booking">Make your booking</h1>
      <h2 class="personal-details">PERSONAL DETAILS</h2>
      <div class="form-group">
        <table class="position_form table1">
          <tr class="left_row">
            <td><h5>Name</h5>
              <input  type="text"  required [(ngModel)]="name" name="Name" #Name= "ngModel">
              <div class="err alert-danger" *ngIf="Name.touched && !Name.valid" >
                  <div *ngIf="Name.errors.required">Namae is required</div>
              </div>
            </td>
            <td><div class="space"></div></td>
            <td><h5>Email</h5>
              <input required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"  [(ngModel)]=email  name="email"  #emaill= "ngModel" type="text" >
              <div class="err alert-danger " *ngIf="emaill.touched  && !emaill.valid ">
                <div *ngIf="emaill.errors.required ">Email is required</div>
                <div *ngIf="emaill.errors.pattern  ">Email invalid</div>
              </div> 
            </td>
          </tr>
          <tr class="left_row">
            <td><div class="spacev2"></div></td>
          </tr>
          <tr class="right_row">
            <td><h5>Phone number</h5>
              <input  type="text" name="your_phone" required pattern="[0-9\-\+]{10,15}$"  [(ngModel)]=phone  #your_phone= "ngModel">
              <div class="err alert-danger " *ngIf="your_phone.touched  && !your_phone.valid ">
                  <div *ngIf="your_phone.errors.required ">Phone is required</div>
                  <div *ngIf="your_phone.errors.pattern  ">Phone invalid</div>
                </div> 
            </td>
            <td><div class="space"></div></td>
            <td><h5>&nbsp;</h5><button  class="sp_book_btn btn btn-lg " [(disabled)]="!validformDate.valid" (click)="nextButton()" >NEXT</button></td>
          </tr>
          <br>
        </table>
      </div>
    </div>
  </form>
<!-- END FIRST MODAL CONTENT -->
<!-- BEGIN SECOND MODAL CONTENT -->
<form *ngIf="calendarData" name="validformCalendar"  #validformCalendar="ngForm" >
  <div class="second_content" >
    <h1 class="make-your-booking" >Make your booking</h1>
    <h2 class="personal-details">BOOKING INFORMATION</h2>
    <table class="table2" >
      <tr class="left_row" >
          <td>
            <div class="left ">
              <h5 class="text">Enter a day </h5>
            <input class="tbox" type="time" required [(ngModel)]=time name="passwordl" #passwordl= "ngModel">
            <div class="err alert-danger" *ngIf="passwordl.touched && !passwordl.valid" >
                <div *ngIf="passwordl.errors.required">Time is required</div>
            </div>
            </div>
          </td>
          <td> 
            <div class="right " >
              <h5 class="text">Enter a  time </h5>
              <select class="mb-3" [(ngModel)]="startDay" name="emaill" #emaill="ngModel" required >
                <option  *ngFor="let day of myData" [ngValue]="day"  >{{day}}</option>
              </select> 
              <div class="err alert-danger " *ngIf="emaill.touched  && !emaill.valid ">
                  <div *ngIf="emaill.errors.required ">Day is required</div>
              </div>
            </div>
          </td>
      </tr>
      <tr>
        <th><button  class="close_btn" (click)="manageForms(true, false, false)" >BACK</button></th>
        <th><button  class="send_book_btn btn btn-lg " [(disabled)]="!validformCalendar.valid" (click)="send()">SEND BOOKING </button></th>
      </tr>
    </table>
  </div>
</form >
<!-- END SECOND MODAL CONTENT -->
  <form *ngIf="sentData">
    <div class="third_content" >
      <img class="sent_img" src="../assets/sent.png">
      <h1 class="make-your-booking" style=" margin-top: 10px;">Your request was sent!</h1>
      <h5>In a couple on seconds a confirmation email will be sent to your email address with all the details for your reservation. Thank you for using our services!</h5>
      <button class="book_btn" aria-label="Close" (click)="d()" >CLOSE</button> <!--@click="hideModal_final"-->
    </div>
  </form>
</ng-template>
<button class="btn btn-lg btn-outline-primary book_btn" (click)="open(content)" style="margin-bottom: 20px;">BOOK NOW</button>
